body{
    background-image: url("../img/img25.jpg")
}
h1{
    text-align: center;
    color: azure;
}
h3{
    text-align: center;
    color:aliceblue
}
p{
    text-align: center;
    color:aqua
}
a{
    color:aqua
}
h4{
    text-align: center;
    color:aliceblue
}